*{
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
}

body{
    background-color:burlywood;
    text-align: center;
    line-height: 2.2;

}

.hero{
    padding: 80px 40px;
}

.hero img{
    border-radius: 50%;
    margin-bottom: 10px;
}

.section h2{
    font-size: 22px;
}

.hero h2{
    font-size: 37px;
}

.accent{
    color:azure
}

.grid{
    display: grid;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    
}

.grid div{
    padding: 15px;
    border-radius: 100px;
    background-color:#f5f5dc;
    width: 90px;
}


@media (max-width: 768px){
    body{background-color:#ffe4c4}
}
